<html>
  <head>
    <title>cards</title>
    <link href="<%= url('/css/style.css') %>" rel="stylesheet" type="text/css" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

  </head>
  <body>
    <div id="header">
    </div>

    <%= yield %>

    <script src="<%= url('/javascript/card-app.js') %>"></script>
  </body>
</html>
