@font-face {
  font-family: TheGirlNextDoor;
  src: url('../fonts/thegirlnextdoor.ttf');
}

body {
  font-family: TheGirlNextDoor;
  color: rgb(51, 51, 51);
  margin: 0;
  padding: 0;
}

#header {
    padding: 5px 8px;
    border-bottom: 1px solid rgb(241, 138, 204);
    background-color: rgba(241, 138, 204, 0.2);
/*    height: 35px;*/
    line-height: 40px;
}

.deck-selector {
    -webkit-appearance: none;
    background: none;
    border: none;
    font-size: 25px;
    color: rgb(241, 138, 204);
    outline: none;
}

.card {
  display: none;
}

.current-card {
    display: block;
}

.is-hidden {
  display: none;
}