@font-face {
  font-family: TheGirlNextDoor;
  src: url('../fonts/thegirlnextdoor.ttf');
}

body {
  font-family: TheGirlNextDoor;
  color: rgb(51, 51, 51);
  margin: 0;
  padding: 0;
}

#container {
  width: 100%;
}

#controls {
    padding: 5px 8px;
    border-bottom: 1px solid rgb(241, 138, 204);
    background-color: rgba(241, 138, 204, 0.2);
    height: 35px;
    line-height: 40px;
}

#controls div {
    width: 33%;
    float: left;
}

.pause {
    font-size: 35px;
    color: rgb(241, 138, 204);
}

.pause:before {
    content: '\25A3';
}

.pause.paused:before {
    content: '\25B6';
    line-height: 40px;
    font-size: 30px;
}

.menu {
    text-align: center;
}

.menu select {
    -webkit-appearance: none;
    background: none;
    border: none;
    font-size: 25px;
    color: rgb(241, 138, 204);
    outline: none;
}

.kana-padding {
    padding-left: 28%;
}

.toggle {
    font-size: 30px;
    color: rgb(241, 138, 204);
    text-align: right;
}

.card {
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  padding: 0 10px;
}

.card h1 {
    line-height: 40px;
    font-weight: lighter;
    font-size: 25px;
}

.is-hidden {
  display: none;
}