
<% content_for :header do %>

<div id='deckSelector'>
  <% @categories_list.each_with_index do |(deck, cards), i| %>
  <input type='checkbox' name='deck' value="<%= deck.name %>" /><%= deck.name %>
  <% end %>
</div>

<div id="nextCard">
  &hearts;
</div>
<div id="reverseCards">
  &#8644;
</div>

<% end %>

<% content_for :content do %>

<% @categories_list.each_with_index do |(category, deck), i| %>
<%= deck %>
<% end %>  

<% end %>
