<h1>New Card</h1>
<form action="/new" method="post">
  <label for="front">Front:</label><br />
  <input id="front" name="cards[front]" type="text" value="<%= @card.front %>" />
  <br />

  <label for="back">Back:</label><br />
  <input id="back" name="cards[back]" type="text" value="<%= @card.back %>" />
  <br />

  <label for="decks_id">Deck ID:</label><br />
  <input id="decks_id" name="cards[decks_id]" type="text" value="<%= @card.decks_id.to_i %>" />
  <br />

  <input type="submit" value="Create Card" />
</form>   
